@page "/computadores"
@inherits ComputadoresPages

<h1>Computadores Registrados!</h1>

<table class="table">
    <tr>
        <th>IP</th>
        <th>Nome</th>
        <th>Número de Processos</th>
        <th>Inativo</th>
    </tr>
    <tr>
        @foreach (var comp in computadores)
        {
            <td>
                @comp.Ip
            </td>
            <td>
                @comp.Nome
            </td>
            <td>
                @comp.Process?.Count
            </td>
            <td>
                <input type="checkbox" bind=@(comp.Inativo)/>
            </td>
        }
    </tr>
</table>
